:root {
    --pink:hsl(322, 100%, 66%);
    --palecyan:hsl(193, 100%, 96%);
    --darkcyan:hsl(192, 100%, 9%);
    --gray:hsl(208, 11%, 55%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.8rem;
    font-family:"Open Sans", sans-serif ;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
   max-width: 130rem;
}

.hero-content{
    background-image: url(images/bg-hero-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--palecyan);
}

/* Header styling */

header{
    display: flex;
    padding: 5.7rem 8rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.8rem;
}

.head-btn{
    font-size: 1.3rem;
    border: none;
    padding: 1.4rem 5.5rem;
    border-radius: 5.7rem;
    background-color: #fff;
    color: #000;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 700;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.head-btn:hover{
    color: var(--gray);
}

/* Hero Section Styling */

.grid-content-hero{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    padding-inline: 6rem;
    padding-bottom: 5rem;
}

.hero-1-col{
    padding: 4.8rem;
}

.hero-2-col img{
    width: 600px;
    height: 485px;
}

.hero-head{
    font-size: 3.9rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2.9rem;
    font-weight: 600;
    color: var(--darkcyan);
}

.hero-para{
    line-height: 26.4px;
    margin-bottom: 3.2rem;
    color: var(--darkcyan);
}

.hero-btn{
    font-size: 1.3rem;
    border: none;
    padding: 2.2rem 6.2rem;
    border-radius: 5.7rem;
    background-color: var(--pink);
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;
    font-weight: 700;
}

.hero-btn:hover{
    background-color: rgb(230, 178, 217);
}

/* Grow-together Section */

.grow-together{
    margin-top: 14rem;
    padding-inline: 3.6rem;
}

.grow-grid, .flowing-grid, .user-grid{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 1rem;
}

.grow-info, .flowing-info, .user-info{
    padding-left: 12rem;
    padding-right: 2rem;
}

.grow-head, .flowing-head, .user-head{
    font-size: 2.8rem;
    margin-bottom: 1.1rem;
    font-weight: 600;
}

.grow-para, .flowing-para, .user-para{
    color: var(--gray);
    line-height: 26px;
    font-size: 1.7rem;
}

.fig-image{
    margin-block:5rem
}

.fig-image img{
    width: 420px;
}

/* Flowing Conversation Section */

.flowing-conversation, .user-section{
    margin-top: 4rem;
    padding-inline: 3.6rem;
}

/* Users Sections */


/* Subscribe Box */

.subscribe-box{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.box-content{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 6.5rem 13.2rem;
    border-radius: 1.6rem;
    position: absolute;
    top: -20%;
    background-color: #fff;
    /* margin-top: 16rem; */
}

.box-content h1{
    font-size: 3.1rem;
    color: var(--darkcyan);
    margin-bottom: 3.6rem;
}

.box-content button{
    border-radius: 9rem;
    border: none;
    color: #fff;
    background-color: var(--pink);
    padding: 3rem 12rem;
    font-size: 1.8rem;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
}

.box-content button:hover{
    background-color: rgb(230, 178, 217);
}

/* Footer Section */

.footer-section{
    background-color: var(--darkcyan);
    padding: 23rem 12rem 6rem;
    position: relative;
    margin-top: 30rem;
    /* margin-top: 18rem; */
}

.footer-flex{
    display: flex;
    color: #fff;
    justify-content: space-between;
}

.footer-1-col{
    width: 30%;
}

.footer-section img{
    margin-bottom: 4rem;
}

.info-flex{
    display: flex;
    align-items: flex-start;
    column-gap: 2.5rem;
}

.info-flex p{
    font-size: 1.6rem;
    line-height: 24px;
    margin-bottom: 1rem;
}

.footer-2-col, .footer-3-col{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.footer-2-col a, .footer-3-col a{
    color: white;
}

.social-logo{
    display: flex;
    gap: 1.5rem;
}

.social-logo i{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1rem;
    transition: all 0.3s;
}

.social-logo i:hover{
    color: var(--pink);
    cursor: pointer;
    border-color: var(--pink);
}

.footer-text{
    color: #fff;
    font-size: 1.2rem;
    text-align: end;
}











